<div class="bg-gray-200 flex justify-center items-center h-screen select-none">
  <button class="bg-white py-3 px-5 rounded text-gray-600 shadow-md">
    Open-modal
  </button>
  <!-- overLeay-->
  <div
    class="fixed left-0 top-0 bg-black bg-opacity-50 w-screen h-screen flex justify-center items-center ">
    <div class="bg-white shadow-md p-8 w-[30%] h-[37%] flex border-2 border-black"
      #myDiv>
      <!-- Top div -->
      <div class="bg-blue-900 w-[100%] h-14 text-black">
        <samp class="text-yellow-50 text-[30px] mx-64">Login</samp>
        <!-- buutom div -->
        <div class="flex mt-60 justify-center gap-5">
          <button
            class="bg-blue-700 w-20 rounded-md h-11 text-white hover:bg-blue-600 cursor-pointer border-[1px] border-black">Login</button>
          <button
            class="bg-blue-700 w-20 rounded-md h-11 text-white hover:bg-blue-600 cursor-pointer border-[1px] border-black">Cancel</button>
        </div>
        <!-- buutom div end -->
        <div class="mt-3">
          <div class="grid gap-6 mb-6 -mt-80 md:grid-cols-2">
            <div>
            </div>
          </div>

        </div>
        <div class="mt-14">
          <section>
            <samp>email:</samp>
            <input class="bg-gray-200 mb-3 mr-9 w-[76%] h-9 ml-10" type="email" name="" id="">
          </section>
          <section>
            <samp>Password:</samp>
            <!-- <input class="border-4 black" type="password" name="" id=""> -->
            <input   type="password" class="bg-gray-200 mb-3 w-[77%] h-9 ml-3 border-solid border-black " />
          </section>
        </div>
        <!-- div input -->

      </div>
      <!-- Top div end-->

    </div>
  </div>
  <!-- overLeay end-->

</div>
