<div class="container">
  <!-- start 1-->
  <div class="max-w-sm rounded bg-white overflow-hidden shadow-lg mr-24">
    <img width="200" class="block mx-auto" src="images/pant1.png" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2"></div>
      <p class="text-gray-700 text-base">

      </p>
      <div class="font-bold text-xl mb-2">
        <span>pant</span>
      </div>
      <p class="text-gray-700 text-base">
        <span>description of mane pant...</span>
       </p>
      <div class="mt-4">
        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-base font-semibold text-gray-900">
         $100.00
        </span>
      </div>
      <button type="button"

        class="mt-4 w-full rounded-sm bg-green-500 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
        Add to cart
      </button>
      <button type="button"
        class="mt-4 w-full rounded-sm bg-yellow-500 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
        View product
      </button>
    </div>
  </div>
<div class="max-w-sm rounded bg-white overflow-hidden shadow-lg mr-24">
  <img width="200" class="block mx-auto" src="images/pant3.png" alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"></div>
    <p class="text-gray-700 text-base">

    </p>
    <div class="font-bold text-xl mb-2">
      <span>pant</span>
    </div>
    <p class="text-gray-700 text-base">
      <span>description of mane pant...</span>
     </p>
    <div class="mt-4">
      <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-base font-semibold text-gray-900">
       $100.00
      </span>
    </div>
    <button type="button"

      class="mt-4 w-full rounded-sm bg-green-500 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
      Add to cart
    </button>
    <button type="button"
      class="mt-4 w-full rounded-sm bg-yellow-500 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
      View product
    </button>
  </div>
</div>
<!-- end -->
 <!-- start 2-->
  <div class="max-w-sm rounded bg-white overflow-hidden shadow-lg mr-24">
    <img width="200" class="block mx-auto" src="images/pant2.png" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2"></div>
      <p class="text-gray-700 text-base">

      </p>
      <div class="font-bold text-xl mb-2">
        <span>pant</span>
      </div>
      <p class="text-gray-700 text-base">
        <span>description of mane pant...</span>
       </p>
      <div class="mt-4">
        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-base font-semibold text-gray-900">
         $100.00
        </span>
      </div>
      <button type="button"

        class="mt-4 w-full rounded-sm bg-green-500 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
        Add to cart
      </button>
      <button type="button"
        class="mt-4 w-full rounded-sm bg-yellow-500 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
        View product
      </button>
    </div>
  </div>
<!-- end -->
 <!-- start 3-->
 <div class="max-w-sm rounded bg-white overflow-hidden shadow-lg">
  <img width="200" class="block mx-auto" src="images/pant4.png" alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"></div>
    <p class="text-gray-700 text-base">

    </p>
    <div class="font-bold text-xl mb-2">
      <span>pant</span>
    </div>
    <p class="text-gray-700 text-base">
      <span>description of mane pant...</span>
     </p>
    <div class="mt-4">
      <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-base font-semibold text-gray-900">
       $100.00
      </span>
    </div>
    <button type="button"

      class="mt-4 w-full rounded-sm bg-green-500 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
      Add to cart
    </button>
    <button type="button"
      class="mt-4 w-full rounded-sm bg-yellow-500 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
      View product
    </button>
  </div>
</div>
<!-- end -->
 <!-- start 3-->
 <div class="max-w-sm rounded bg-white overflow-hidden shadow-lg">
  <img width="200" class="block mx-auto" src="images/pant5.png" alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"></div>
    <p class="text-gray-700 text-base">

    </p>
    <div class="font-bold text-xl mb-2">
      <span>pant</span>
    </div>
    <p class="text-gray-700 text-base">
      <span>description of mane pant...</span>
     </p>
    <div class="mt-4">
      <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-base font-semibold text-gray-900">
       $100.00
      </span>
    </div>
    <button type="button"

      class="mt-4 w-full rounded-sm bg-green-500 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
      Add to cart
    </button>
    <button type="button"
      class="mt-4 w-full rounded-sm bg-yellow-500 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
      View product
    </button>
  </div>
</div>
<!-- end -->

</div>
