<app-header></app-header>

@if(DialogOverlay) {
  <div class="fixed left-0 top-0 bg-black bg-opacity-80 w-screen h-screen"></div>
  }
  @if(DialogOverlay) {
  <div>

    <!-- show cart detail -->
     @if(cartDetail){
      <app-cart-detail></app-cart-detail>
     }
  <!-- login -->

  @if(login){
    <div class="fixed left-0 right-0 ">
      <div class="bg-white rounded shadow-md p-8 ">

  </div>

    </div>
  }
  <!-- Rigister -->
  @if(Rigister){}
  <!-- Fordot password -->
  @if(FordotPassword){}
  </div>
  }
  <div class="Dialog"></div>
  <div class="container">
    <div class="L-call">
      <div>&nbsp;</div>
      <ul>
        <li>Pant</li>
        <li>shirt</li>
        <li>Belt</li>
      </ul>
      <div class="b-call">
        <div><span (click)="openDialog('Register')">Register</span></div>
        <div><span (click)="openDialog('Sign In')">Sign In</span></div>
        <div><span (click)="openDialog('Sign In')">Forgot
            password</span></div>
      </div>
      <div class="b-call">
      </div>
    </div>
    <div class="R-call bg-white w-full">
      <!-- <app-product-list></app-product-list> -->
      <app-test-d></app-test-d>

    </div>
  </div>
