<app-header></app-header>
@if(login){
  <app-sign-in [login]=login></app-sign-in>
}





  <div class="container">
    <div class="L-call">
      <div>&nbsp;</div>
      <ul>
        <li>Pant</li>
        <li>shirt</li>
        <li>Belt</li>
      </ul>
      <div class="b-call">
        <div><span (click)="openDialog('Register')">Register</span></div>
        <div><span (click)="openDialog('Sign In')">Sign In</span></div>
        <div><span (click)="openDialog('Sign In')">Forgot
            password</span></div>
      </div>
      <div class="b-call">
      </div>
    </div>
    <div class="R-call bg-white w-full">
      <!-- <button class="animate-bounce">click me!</button> -->
      <app-product-list></app-product-list>
          <!-- <app-test-d></app-test-d> -->

    </div>
  </div>
