/* You can add global styles to this file, and also import other style files */
/* @import 'assets/styles/tailwind.scss'; */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.contanier{
  width: 100%;
  background-color: #424242;
  color: #fff;
}
